body{
	background-color: white;
}

h1,h2,h3,h4,h5,h6{
	color:#244d4d;
}
h4{
  display: inline-block;
  
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #244d4d!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#244d4d;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}




.home {
	position: relative;
	width: 100%;
  }
  
  .home .slides-container .slide {
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	gap: .5rem;
  }
  
  .home .slides-container .slide.active {
	display: flex;
  }
  
  .home .slides-container .slide .content {
	-webkit-box-flex: 1;
		-ms-flex: 1 1 20rem;
			flex: 1 1 20rem;
	-webkit-animation: fadeLeft .4s linear .4s backwards;
			animation: fadeLeft .4s linear .4s backwards;
  }
  
  .home .slides-container .slide .content span {
	font-size: 2rem;
	color: #779;
  }
  
  .home .slides-container .slide .content h3 {
	font-size: 4rem;
	color: #244d4d;
	padding-top: .5rem;
  }
  
  .home .slides-container .slide .content p {
	font-size: 1rem;
	color: #779;
	padding: .5rem 0;
	line-height: 2;
  }
  
  .home .slides-container .slide .image {
	-webkit-box-flex: 1;
		-ms-flex: 1 1 25rem;
			flex: 1 1 25rem;
	
  }
  
  .home .slides-container .slide .image img {
	width: 100%;
	-webkit-animation: fadeOut .4s linear;
			animation: fadeOut .4s linear;
  }





.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
@media (max-width: 1250px) {
	html {
	  font-size: 60%;
	}
	.header {
	  padding: 2rem;
	}
	section {
	  padding: 3rem 2rem;
	}
	.home #slide-next,
	.home #slide-prev {
	  top: 95%;
	}
	.home #slide-prev {
	  left: auto;
	  right: 8rem;
	}
  }

@media (max-width: 991px) {
	html {
	  font-size: 55%;
	}
	.header {
	  padding: 2rem;
	}
	section {
	  padding: 2rem 2rem;
	}
	.home #slide-next,
	.home #slide-prev {
	  top: 95%;
	}
	.home #slide-prev {
	  left: auto;
	  right: 8rem;
	}
  }
  
  @media (max-width: 768px) {
	#search-btn {
	  display: inline-block;
	}
	.header .search-form {
	  position: absolute;
	  top: -101%;
	  left: 0;
	  right: 0;
	  width: 100%;
	  border-radius: 0;
	  border-left: 0;
	  border-right: 0;
	}
	.header .search-form.active {
	  top: 99%;
	}
  }
  
  @media (max-width: 450px) {
	html {
	  font-size: 50%;
	}
	.home .slides-container .slide .content h3 {
	  font-size: 4rem;
	}
	.heading {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: column;
			  flex-flow: column;
	  gap: 1rem;
	}
  }


  .footer {
	background: #f6fbf6;
	padding-top: 1rem;
	padding-right: 3rem;
	padding-left: 3rem;
  }
  
  .footer .box-conta {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(25rem, 1fr));
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: .5rem;
  }
  
  .footer .box-conta .box h3 {
	font-size: 2.2rem;
	color: #244d4d;
	padding: 1rem 0;
  }
  
  .footer .box-conta .box p {
	font-size: 1.6rem;
	color: #779;
	padding-bottom: 1rem;
  }
  
  .footer .box-conta .box a {
	font-size: 1.4rem;
	color: #779;
	padding-bottom: 0.5rem ;
	display: block;
  }
  
  .footer .box-conta .box a:hover {
	color: #244d4d;
  }
  
  .footer .box-conta .box a:hover i {
	padding-right: 2rem;
  }
  
  .footer .box-conta .box a i {
	padding-right: .5rem;
	color: #244d4d;
  }
  
  .footer .box-conta .box form input[type="email"] {
	width: 100%;
	padding: 1rem 1.2rem;
	font-size: 1rem;
	color: #244d4d;
	text-transform: none;
	margin: .7rem 0;
	border: 0.1rem solid #244d4d;
  }
  .footer .box-conta .btn{
	  padding: 0;
	  border-color: #244d4d;
	  font-size: 1.5rem;
  }
  
  .credit {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background: #244d4d;
  }
  